# Django settings
DEBUG=1 # Change to 0 in production
SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000

# DB
DB_NAME=rvdc_db
DB_USER=rvdc_owner
DB_PASSWORD=change-me

# PostgreSQL (Django database URL)
DATABASE_URL=postgresql://rvdc_owner:change-me@db:5432/rvdc_db

# Deployment
GUNICORN_WORKERS=3
