# DJANGO SETTINGS
DJANGO_DEBUG=
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=
DJANGO_CSRF_TRUSTED_ORIGINS=

# DATABASE
DB_ENGINE=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# # DJANGO SETTINGS
# DJANGO_DEBUG=True
# DJANGO_SECRET_KEY="django-insecure-wudh)ua9lwb)dh-=%btazaw@)fwrn2l$xdsqhf&*p@dgh@dc#3"
# DJANGO_ALLOWED_HOSTS=localhost
# DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000

# # DATABASE
# DB_ENGINE=postgresql_psycopg2
# DB_NAME=rvdc_db
# DB_USER=rvdc_owner
# DB_PASSWORD=daizuke0908
# DB_HOST=localhost
# DB_PORT=5432

