# Django settings
DEBUG=0
SECRET_KEY=%pr39%c*g_s2)e+t2qx5#hz^)!%zr1!pk^6b25nr9)5sla^+55

# Allowed hosts (backend IPs/domains)
DJANGO_ALLOWED_HOSTS=206.189.157.123,api-rvdcrefandaircon.duckdns.org

# CSRF - where forms are POSTed (backend domain)
CSRF_TRUSTED_ORIGINS=https://api-rvdcrefandaircon.duckdns.org

# CORS - frontend domains that call API via JS
CORS_ALLOWED_ORIGINS=https://rvdcrefandaircon.duckdns.org,http://206.189.45.170

# Database
DB_HOST=db
DB_NAME=rvdc_db
DB_USER=rvdc_owner
DB_PASSWORD=daizuke0908
DB_PORT=5432
DATABASE_URL=postgresql://rvdc_owner:daizuke0908@db:5432/rvdc_db

# Gunicorn
GUNICORN_WORKERS=2
