# === Django ===
*.log
*.pot
*.py[cod]
__pycache__/
db.sqlite3
media/profile_images/

# === Python ===
*.py[cod]
*$py.class

# === Environment Files ===
.env
.env.local
.env.production
.env.db
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
.python-version

# === Package / Build ===
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.whl
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# === Installer logs ===
pip-log.txt
pip-delete-this-directory.txt

# === Unit test / coverage reports ===
htmlcov/
.tox/
.coverage
.coverage.*
.cache/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# === Jupyter Notebooks ===
.ipynb_checkpoints/

# === Celery ===
celerybeat-schedule.*

# === Mypy ===
.mypy_cache/

# === MkDocs ===
/site

# === Editors ===

## VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

## PyCharm / IntelliJ IDEA
.idea/
*.iws
out/

# === Sublime Text ===
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# === SFTP Config ===
sftp-config.json

# === Atlassian Plugin ===
atlassian-ide-plugin.xml

# === JetBrains Project Metadata ===
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# === Backup files ===
*.bak
