asgiref==3.8.1
channels==4.2.0
channels-redis==4.2.1
daphne==4.1.2
dj-database-url==2.3.0
Django==5.2.3
django-cors-headers==4.7.0
django-filter==25.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
drf-extra-fields==3.7.0
drf-nested-routers==0.94.2
filetype==1.2.0
gunicorn==23.0.0
packaging==25.0
pillow==11.2.1
psycopg2-binary==2.9.10
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python-decouple==3.8
reportlab==4.2.5
setuptools==70.0.0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.1
tzdata==2025.2
uvicorn[standard]==0.34.0
wheel==0.43.0


